///////////////////
// VARIABLES

@datavore: #22afe3;

///////////////////
// BASELINE
* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	color: #333;
	font-weight: 400;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	line-height: 1.2;
	&.paused {
		overflow: hidden;
		pointer-events: none;
	}
}

///////////////////
// TYPE STYLING

h1 {
	font-size: 5em;
	font-weight: 100;
}

h2 {
	font-size: 3em;
	font-weight: 300;
	margin-bottom: 1em;
	width: 100%;
}

h3 {
	font-weight: 300;
	font-size: 1.8em;
	margin: 0.5rem 0;
}

p {
	margin-bottom: 1rem;
}

b {
	font-weight: 700;
}
a {
	cursor: pointer;
	text-decoration: none;
	border-bottom: 2px solid;
}

///////////////////
// NAV MENU

menu {
	background: #333;
	color: #fff;
	box-shadow: 0 1em 1em rgba(0,0,0,0.1);
	top: 0;
	width: 100%;
	position: fixed;
	transition: all 100ms;
	z-index: 1000;
	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		li {
			margin: 1em;
			font-size: 1em;
			line-height: 1.1;
		}
		a {
			color: rgba(255,255,255,0.8);
			font-weight: 500;
			text-decoration: none;
			border-bottom: 2px solid rgba(255,255,255,0.2);
		}
		a:hover {
			color: rgba(255,255,255,1);
		}
		a:active {
			color: @datavore;
			border-color: @datavore;
		}
	}
	&.disabled{
		background: transparent;
		box-shadow: none;
		.logo {
			background-color: white;
			color: @datavore;
			box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.1);
			&:hover {
				color: white;
				background: @datavore;
			}
			&:active {
				color: #111;
			}
		}
		ul {
			height: 0;
			overflow: none;
			display: none;
		}
	}
}

///////////////////
// SOME UI ELEMENTS

.logo,
.logo a {
	text-align: center;
	color: @datavore !important;
	border: none;
	margin: 0 auto;
	color: white;
	cursor: pointer;
	opacity: 0.9;
	&:hover {
		opacity: 1;
	}
}

.button {
	border: none;
	font-size: 1em;
	background: @datavore;
	color: rgba(255,255,255,0.8);
	padding: 0.25em 0.5em;
	border-radius: 0.25em;
	text-transform: uppercase;
	padding: 0.5em 0.8em;
	user-select: none;
	vertical-align: middle;
	&:hover {
		color: rgba(255,255,255,1);
	}
	&:active {
		color: #333;
		outline: none;
	}
}

.button-cta {
	.centered;
	margin: 0 auto;
	background: white;
	color: #444;
	display: inline-block;
	padding: 1em;
	font-size: 1.5em;
	font-weight: 500;
	border-radius: 0.25em;
	text-align: center;
	box-shadow: 0 0 2em rgba(0,0,0,0.3);
	cursor: pointer;
	user-select: none;
	&:active {
		color: @datavore;
		background: white;
		box-shadow: 0 0 2em rgba(255,255,255,0.5);
	}
}

.widget {
	font-weight: 700;
	height: 1.5em;
	width: 1.5em;
	display: inline-block;
	line-height: 1em;
	background: rgba(0,0,0,0.2);
	color: rgba(255,255,255,0.8);
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	margin-bottom: 1rem;
	&:hover {
		background: rgba(0,0,0,0.8);
		color: rgba(255,255,255,0.8);
	}
	&:active {
		background: @datavore;
	}
}

.card {
	height:12em;
	width: 18em;
	cursor: pointer;
	margin-bottom: 1em;
	margin-right: 1em;
	.front {
		padding: 1rem 1rem 0 1rem;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		flex-flow: column;
		background: rgba(0,0,0,0.2);
		justify-content: space-between;
		h3 {
			span {
				display: block;
			}
		}
	}
	.back {
		padding: 1rem;
		font-size: 1.3em;
		font-weight: 300;
		h3 {
			.fill;
			position: absolute;
			color: rgba(0,0,0,0.1);
			z-index: -1;
			font-size: 8em;
			text-align: left;
			vertical-align: middle;
			overflow: hidden;
		}
	}
}

///////////////////
// LAYOUT BLOCKS

section {
	position: absolute;
	padding: 6em 10%;
	height: 100%;
	width: 100%;
}

@media (min-width: 1024px) {
	section {
		padding: 8em 20%;
	}
}

@media (max-width: 768px) {
	section {
		position: relative;
	}
}

aside {}

///////////////////
// SECTIONS

#header {
	top: 0;
	min-height: 50em;
	height: 100%;
	text-align: center;
	color: white;
	padding: 0;

	aside {
		.centered;
		width: 100%;
	}
	h3 {
		font-weight: 500;
		margin-bottom: 2em;
	}
}

#what {
	top: 100%;
	min-height: 100%;
	h2 {
		border-bottom: 2px solid @datavore;
	}
	aside {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
}

#get1 {
	top: 200%;
	height: 25%;
	text-align: center;
}

#how {
	top: 230%;
	height: 75%;
	background: #666;
	color: white;
	h2 {
		border-bottom: 2px solid @datavore;
	}
	aside {
		h3 {
			color: rgba(255,255,255,0.7);
			span {
				color: @datavore;
			}
		}
	}
}

#get2 {
	top: 300%;
	height: 25%;
	text-align: center;
}

#who {
	top: 325%;
	height: 75%;
	color: #eee;
	ul {
		li {
			margin-bottom: 1em;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	a {
		color: @datavore;
		cursor: pointer;
		font-weight: 500;
		text-decoration: none;
		border-bottom: 2px solid rgba(255,255,255,0.2);
	}
	a:hover {
		color: rgba(255,255,255,1);
	}
	a:active {
		color: @datavore;
		border-color: @datavore;
	}
}

///////////////////
// SIGNUP MODAL

.fill {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.centered {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

#signup {
	.fill;
	z-index: 1001;
	transition: all 500ms;
	opacity: 1;
	overflow: hidden;
	.shim {
		.fill;
		background: rgba(22,33,44,0.8);
		pointer-events: none;
		z-index: -1;
	}
	.content {
		.centered;
		background: rgba(255,255,255,0.97);
		box-shadow: 0 1em 2em rgba(0,0,0,0.4);
		width: 95%;
		max-height: 95%;
		overflow: scroll;
		max-width: 30rem;
		overflow: auto;
		padding: 2em 3em;
		border-radius: 0.25em;
		.widget {
			position: absolute;
			right: 1em;
			top: 1em;
			line-height: 1.6;
		}
		h2 {
			line-height: 1;
		}

	}
	&.disabled {
		height: 0;
		opacity: 1;
		padding: 0;
	}
}



///////////////////
// FORM

form {
	max-width: 30em;
	margin: 0 auto;
	ul {
		li {
			margin-right: 2em;
			line-height: 1.5;
		}
	}
}

label {
	color: #666;
	font-weight: 500;
	display: block;
	line-height: 1;
}

input[type=text],
input[type=email] {
	background: transparent;
	box-sizing: border-box;
	color: #333;
	cursor: text;
	font-size: 1rem;
	font-family: "Roboto", sans-serif;
	border: 0;
	line-height: 1.8;
	padding: 0;
	width: 100%;
	border-bottom: 2px solid @datavore;
	&:focus {
		border-bottom: 2px solid #2394BE;
		outline: none;
	}
}

.selector {
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	select {
		appearance: none;
		background-image: none;
		background-color: transparent;
		border: none;
		border-bottom: 2px solid @datavore;
		border-radius: 0;
		box-shadow: none;
		box-sizing: border-box;
		color: #333;
		cursor: pointer;
		font-size: 1rem;
		line-height: 1.8;
		position: relative;
		padding: 0 1em 0 0;
		width: 100%;
		&:focus {
			outline: none;
			border-bottom: 2px solid @datavore;
		}
	}
	&:after {
		position: absolute;
		color: #333;
		right: 0.25em;
		z-index: 9999;
		top: 0.3em;
		pointer-events:none;
		display: inline-block;
		content: "\25be";
	}
}

///////////////////
// EXTRAS

::selection {
	background-color: @datavore;
	color: white;
}



/*

SOME OLD THINGS THAT MAY BE USEFUL LATER

//display: flex;
//text-align: left;
//justify-content: center;
//flex-flow: column;

@body-font: 'Roboto', sans-serif;
@body-scale: 15px;

@body-bg: #fff;
@body-color: #333;

@gray-darker: #222;
@gray-dark: #444;
@gray: #666;
@gray-light: #bbb;
@gray-lighter: #eee;
@gray-lightest: #f1f1f1;

@brand-primary: #0738bb;
@brand-success: #4CAF50;
@brand-info: #9C27B0;
@brand-warning: #ff9800;
@brand-danger: #FD0303;

@color-disabled: #bdbdbd;
@color-available: #686868;
@color-selected: darken(@color-active, 15%);
@color-active: @brand-primary;
@color-active-translucent: rgba(33,150,243,0.3);

@shadow-card: 0px 2px 2px 1px rgba(0, 0, 0, 0.15);//for cards and grid items

@rounding: 0.25em;

*/


