///////////////////
// VARIABLES

@brand-base: #012946; //logo color
@brand-mid: #09668c; //for actions
@brand-high: #81afc4;

///////////////////
// ANIMATIONS

@keyframes dataloop {
  0% {
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeAround {
  0% {
    opacity: 0;
    transform: translateZ(0);
  }

  100% {
    opacity: 1;
    transform: translateZ(1);
  }
}

///////////////////
// BASELINE
* {
	box-sizing: border-box;
}

body {
  background: #333;
	font-family: "Roboto", sans-serif;
	color: #000;
	font-weight: 400;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	line-height: 1.2;
	margin: 0;
	&.paused {
		overflow: hidden;
		//pointer-events: none;
	}
}

///////////////////
// TYPE STYLING

h1 {
	font-size: 5em;
	font-weight: 100;
	text-align: center;
}

h2 {
	font-size: 2.5em;
	font-weight: 300;
	margin-bottom: 1em;
	width: 100%;
}

h3 {
	font-weight: 300;
	font-size: 1.8em;
	margin: 0.5rem 0;
}

p {
	margin-bottom: 1rem;
}

b {
	font-weight: 700;
}

a {
	cursor: pointer;
	text-decoration: none;
	//border-bottom: 2px solid;
}

sup {
  font-size: 0.5em;
}

small {
	font-size: 0.75em;
}

.wai {
  display: block;
  position: absolute;
  z-index: -9999em;
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: -75%;
  z-index: 0;
}

.over-bg {
  position: relative;
  z-index: 2;
}


///////////////////
// NAV MENU

menu {
	background: #333;
	color: #fff;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	transition: all 100ms;
	z-index: 1000;
	margin: 0;
	padding: 0.5em 0;
	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
            display: flex;
            align-items: center;
            flex-flow: row;
			margin: 0.5em 1em;
			font-size: 1em;
			line-height: 1.1;
		}
		a {
			color: rgba(255,255,255,0.9);
			font-weight: 500;
			text-decoration: none;
			//border-bottom: 2px solid rgba(255,255,255,0.2);
		}
		a:hover, a:focus, a:active {
			color: rgba(255,255,255,1);
		}
	}
	&.disabled{
		background: transparent;
		box-shadow: none;
		.logo {
			background-color: white;
			color: @brand-mid;
			box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.1);
			&:hover {
				color: white;
				background: @brand-mid;
			}
			&:active {
				color: #111;
			}
		}
		ul {
			height: 0;
			overflow: none;
			display: none;
		}
	}
}

///////////////////
// SOME UI ELEMENTS

.logo,
.logo a {
	text-align: center;
	color: @brand-mid !important;
	border: none;
	margin: 0 auto;
	color: white;
	cursor: pointer;
	opacity: 0.9;
	&:hover {
		opacity: 1;
	}

    img {
        display: block;
        width: 40px;
    }
}

.button {
	border: none;
	font-size: 1em;
	background: @brand-mid;
	color: #fff;
	cursor: pointer;
    line-height: 1.25;
    padding: 0.5em 1em;
	user-select: none;
	vertical-align: middle;
    transition: background 200ms ease;
    -webkit-appearance: none;

	&:hover, &:focus, &:active {
		background: @brand-base;
	}
}

.button-cta {
	margin: 0 auto;
	background: @brand-mid;
	color: #fff;
	display: inline-block;
	padding: 1em 2em;
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
	cursor: pointer;
	user-select: none;
    transition: all 200ms ease;
	&:hover, &:focus, &:active {
      background: lighten(@brand-mid, 5%);
    }
}

.widget {
	font-weight: 700;
	height: 1.5em;
	width: 1.5em;
	display: inline-block;
	line-height: 1em;
	background: rgba(0,0,0,0.2);
	color: rgba(255,255,255,0.8);
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	margin-bottom: 1rem;
	&:hover {
		background: rgba(0,0,0,0.8);
		color: rgba(255,255,255,0.8);
	}
	&:active {
		background: @brand-mid;
	}
}

.card {
	height:17em;
	width: 18em;
	cursor: pointer;
	margin-bottom: 1em;
	margin-right: 1em;
    position: relative;
    overflow: hidden;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;

    @media (min-width: 1100px) {
      height: 12em;
    }

  span {
      display: block;
      font-size: 15rem;
      margin-bottom: 10px;
      position: absolute;
      opacity: 0.075;
      top: -50px;
      left: -50px;
      z-index: 3;
      transition: all 300ms ease;
    }

	.front {
        height: 100%;
		padding: 1.5rem 1.5rem 0 1.5rem;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-flow: column;
		background: #ddd;
		justify-content: space-between;
        backface-visibility: hidden;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        bottom: 0;
        right: 0;
        transition: all 300ms ease;

		h3 {
            margin: 0;
           padding-right: 30px;
		}

        .widget {
          align-self: flex-end;
        }
	}
	.back {
		padding: 1.5rem;
		font-size: 1.3em;
        position: absolute;
        box-sizing: border-box;
        top: 0;
        left: 0;
        box-sizing: border-box;
        right: 0;
        bottom: 0;
        z-index: 1;
        font-weight: 300;
        display: flex;
        flex-flow: column;
        align-content: flex-end;
        justify-content: flex-end;

        p {
          text-align: right;
          margin: 0;
        }

		span {
          color: @brand-mid;
          opacity: 0.1;
        }
	}

    &.flipped {
        .front {
           transform: translate3d(-102%,0,0);
        }
        span {
          opacity: 0.05;
        }
    }
}

///////////////////
// LAYOUT BLOCKS

section {
	position: relative;
	//position: absolute;
    overflow: hidden;
	padding: 6em 10%;
	//height: 100%;
	width: 100%;
    z-index: 3;
}

@media (min-width: 1024px) {
	section {
		padding: 6em 20%;
	}
}

@media (max-width: 768px) {
	section {
		//position: relative;
	}
}

///////////////////
// SECTIONS

#header {
    background: @brand-base;
	//top: 0;
	//min-height: 100%;
	text-align: center;
	color: white;
	padding-top: 12em;
    padding-bottom: 5em;
    position: relative;
    overflow: hidden;

    .lines span, .lines:before, .lines:after {
      animation: dataloop 60s linear infinite;
      background: url("/img/infinite_line_3.svg") no-repeat center center / 100% auto;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: 0;
      opacity: 0.125;
      width: 400%;
      transition: opacity 500ms ease;

      @media (min-width: 900px) {
        background-position: center bottom;
        background-size: 100% auto;
        width: 200%;
      }
    }

    .lines span {
      background-position: center 55%;
      @media (min-width: 900px) {
        animation-duration: 30s;
        background-position: center 90%;
      }
    }

    .lines:after {
      background-image: url("/img/infinite_line_1.svg");
      animation-duration: 90s;

      @media (min-width: 900px) {
        animation-duration: 45s;
      }
    }

    .lines:before {
      background-image: url("/img/infinite_line_2.svg");
      animation-duration: 140s;

      @media (min-width: 900px) {
        animation-duration: 70s;
      }
    }

    &[data-highlight="1"] {
      .lines:after {
        opacity: 0.4;
      }
    }

    &[data-highlight="2"] {
      .lines span {
        opacity: 0.4;
      }
    }

    aside {
      position: relative;
      z-index: 2;
    }

    img {
        display: block;
       margin: 0 auto 3rem;
        width: 40%;
        max-width: 200px;
        transform: translateX(1%);
    }

    h1 {
      font-size: 2.5em;
      font-weight: 100;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 1.5em;
      font-weight: 100;
    }

    @media (min-width: 400px) {
      h1 {
        font-size: 3em;
      }

      h2 {
        font-size: 2em;
      }
    }

    @media (min-width: 650px) {
        padding-top: 10em;
    }

    @media (min-width: 900px) {
        padding-top: 12em;
        padding-bottom: 9em;

        aside {
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            margin: 0 auto;
            width: 42rem;
        }

        h1, h2 {
          text-align: left;
        }

        h1 {
          font-size: 4em;
        }

        h2 {
          margin: 0;
        }

        div {
          margin-left: 60px;
        }

        img {
          margin: 0;
        }
    }

    @media (min-width: 1000px) {
      padding: 13em 20px 10em;
      aside {
        width: 49rem;
      }

      h1 {
        font-size: 5em;
      }
    }

    .bar {
      background: #fff;
      margin: 0;
      transition: all 1s ease;
    }

    .graphs {
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;

      > * {
        transform: scale(0.75);

        @media (min-width: 900px) {
          transform: scale(2);
        }
      }
    }

    .graph-1 {
      position: absolute;
      top: 20%;
      left: 0;
      height: 130px;
      width: 200px;
      margin: 0;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #fff;
      opacity: 0;
      transition: opacity 500ms ease;

      @media (min-width: 600px) {
        top: 20%;
        left: 2%;
      }

      @media (min-width: 900px) {
        top: 29%;
        left: 15%;
      }

      .bar {
        position: absolute;
        margin: 0;
        height: 20px;
        width: 0;
        left: 0;

        &:nth-child(1) {
          bottom: 10px;
        }

        &:nth-child(2) {
          bottom: 40px;
        }

        &:nth-child(3) {
          bottom: 70px;
        }

        &:nth-child(4) {
          bottom: 100px;
        }
      }
    }

    .graph-2 {
      position: absolute;
      bottom: 40%;
      right: 0;
      height: 100px;
      width: 210px;
      margin: 0;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #fff;
      opacity: 0;
      transition: opacity 500ms ease;

      @media (min-width: 600px) {
        bottom: 57%;
        right: 0;
      }

      @media (min-width: 900px) {
        bottom: 35%;
        right: 10%;
      }

      .bar {
        bottom: 0;
        height: 0;
        position: absolute;
        width: 40px;

        &:nth-child(1) {
          left: 1px;
        }

        &:nth-child(2) {
          left: 42px;
        }

        &:nth-child(3) {
          left: 83px;
        }

        &:nth-child(4) {
          left: 124px;
        }

        &:nth-child(5) {
          left: 165px;
        }
      }
    }

    &[data-highlight="1"] {
      .graph-1 {
        opacity: 0.2;

        .bar {
          &:nth-child(1) {
            width: 35%;
          }

          &:nth-child(2) {
            width: 70%;
            transition-delay: 200ms;
          }

          &:nth-child(3) {
            width: 52%;
            transition-delay: 400ms;
          }

          &:nth-child(4) {
            width: 86%;
            transition-delay: 600ms;
          }
        }
      }
    }

  &[data-highlight="2"] {
    .graph-2 {
      opacity: 0.2;

      .bar {
        &:nth-child(1) {
          height: 20%;
        }

        &:nth-child(2) {
          height: 45%;
          transition-delay: 150ms;
        }

        &:nth-child(3) {
          height: 85%;
          transition-delay: 300ms;
        }

        &:nth-child(4) {
          height: 62%;
          transition-delay: 450ms;
        }

        &:nth-child(5) {
          height: 31%;
          transition-delay: 600ms;
        }
      }
    }
  }
}

#what {
	background: white;
	//top: 100%;
	//min-height: 100%;
	h2 {
		border-bottom: 2px solid @brand-base;
	}
	aside {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

    .card {
        margin-right: 0;
        width: 100%;

        @media (min-width: 500px) {
          width: calc(~"50% - 10px");
        }
    }
}

#get1 {
	//top: 200%;
	//height: 25%;
    background: @brand-base;
    z-index: 1;

    @media (max-width: 899px) {
      padding: 4em;
    }
}

.parallax-lines {
  .bg {
    background-size: 100% auto;
    height: 100%;
    width: 200%;
    opacity: 0.25;
    top: 0;
    left: -100%;
  }
}

#how {
	//top: 225%;
	//height: 75%;
	background: #ddd;
	h2 {
		border-bottom: 2px solid @brand-base;
	}
	aside {
		h3 {
            color: @brand-base;
            padding-left: 40px;
            position: relative;

            &:before {
              background: @brand-base;
              content: "";
              height: 1em;
              position: absolute;
              left: 0;
              top: 0.1em;
              width: 1em;
            }

          &:after {
            content: "";
            background: url("/img/tether-select-check.png") no-repeat right center / auto 100%;
            height: 15px;
            left: 5px;
            position: absolute;
            top: 9px;
            width: 19px;
          }
		}
		p {
			font-size: 1.3em;
            margin-bottom: 2em;
		}
	}
}

#get {
	//top: 300%;
	//height: 25%;
    background: @brand-base;
    text-align: center;

    h2 {
      color: #fff;
      font-size: 1.75em;
    }

    .email-capture {
      background: @brand-mid;
      box-sizing: border-box;
      color: #fff;
      margin: 0 auto;
      max-width: 42rem;
      font-size: 1.25rem;
      padding: 0.75em 1em;
    }

    form {
      background: @brand-mid;
      box-sizing: border-box;
      margin: 0 auto;
      max-width: 42rem;
      position: relative;

      input, button {
        font-size: 1.25rem;
      }

      .mc-field-group {
        flex: 1 1 auto;
      }

      input {
        background: none;
        border: 0;
        color: #fff;
        padding: 0.75em 1em;

        &::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.5);
        }

        &::-moz-placeholder {
          color: rgba(255, 255, 255, 0.5);
        }

        &:-ms-input-placeholder {
          color: rgba(255, 255, 255, 0.5);
        }

        &:-moz-placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
      }

      #mc_embed_signup_scroll {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }

      button {
        appearance: none;
        background: darken(@brand-mid, 5%);
        border: 0;
        color: #fff;
        cursor: pointer;
        flex: 0 0 auto;
        transition: all 200ms ease;
        margin: 0;
        padding: 0.75em 1em;

        &:hover, &:focus {
          background: @brand-mid;
        }

        @media (min-width: 900px) {
          padding: 0.5em 2em;
        }
      }

      .mc-field-error {
        background: @brand-base;
        color: #fff;
        padding: 10px;

        a {
          display: block;
          color: #fff;
          text-decoration: underline;
        }
      }

      #mc_loader {
        display: none;
      }

      &.disabled {
        background: lighten(@brand-base, 4%);

        button {
          background: lighten(@brand-base, 1%);
        }

        #mc_embed_signup_scroll {
          opacity: 0.2;
          pointer-events: none;
          user-select: none;
        }

        #mc_loader {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          transform: translateZ(0);
          z-index: 99999;

          svg {
            fill: #fff;
            max-width: 50px;
            width: 50%;

            rect,polygon {
              animation: fadeAround 1s ease infinite alternate;
              opacity: 0;

              &.bar-1 {
                animation-delay: 200ms;
              }

              &.bar-2 {
                animation-delay: 400ms;
              }

              &.bar-3 {
                animation-delay: 600ms;
              }

              &.bar-4 {
                animation-delay: 800ms;
              }

              &.bar-5 {
                animation-delay: 1000ms;
              }
            }
          }
        }
      }
    }
}

#who {
	//top: 325%;
	//height: 75%;
	color: #eee;
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		li {
			margin-bottom: 1em;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	p {
		font-size: 1.3em;
	}
	a {
		color: rgba(255,255,255,0.8);
		cursor: pointer;
		font-weight: 500;
		text-decoration: none;
		border-bottom: 2px solid rgba(255,255,255,0.2);
        transition: all 200ms ease;
	}
	a:hover, &:focus, &:active {
        color: rgba(255,255,255,1);
        border-bottom: 2px solid rgba(255,255,255,1);
	}

    .bg {
      background-position: 35% center;
    }

    ul b, ul b span {
      display: inline-block;
      margin-right: 5px;
    }
}

#working {
    background: @brand-base;
	position: relative;
	padding: 20em 10% 10em 10%;
	width: 100%;
	text-align: center;
	color: white;
	width: 100%;
	text-align: center;
	color: white;
	h1 {
		.centered;
        font-size: 2.5em;
		transform: translate(-50%, -40%);
		margin: 0;
	}

    .parallax-lines {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 10rem;
    }

    @media (min-width: 400px) {
      h1 {
        font-size: 3em;
      }
    }

    @media (min-width: 900px) {
      h1 {
        font-size: 4em;
      }
    }

    @media (min-width: 1000px) {
      h1 {
        font-size: 5em;
      }

      .parallax-lines .bg {
        background-position: center top;
      }
    }
}

///////////////////
// JOBS
#jobs {
  padding: 0;
  background: #fff;
}
.job {
	padding: 3em 0;
	min-width: 320px;
	max-width: 70%;
	margin: 0 auto;

    &-cta {
      padding-bottom: 4em;
      padding-top: 0;
      text-align: center;
    }

	&.hidden {
		display: none;
	}

    .text--center {
      text-align: center;
    }
}

.job-list {
	text-align: center;
	padding: 2em 0 0 0;

	& > a {
		margin: 0 2em;
		&:hover {
			color: rgba(10,10,10,1);
		}
		&:active, &.toggled {
			color: @brand-mid;
			border-color: @brand-mid;
		}
	}
}

///////////////////
// SIGNUP MODAL

.fill {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.centered {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.flex-row {
	display: flex;
	text-align: left;
	justify-content: space-between;
	flex-flow: row wrap;

    .flex-half {
      width: 100%;
      @media (min-width: 600px) {
        width: calc(~"50% - 10px");
      }
    }
}

.flex-row-start {
//	display: flex;
//	text-align: left;
//	justify-content: flex-start;
//	flex-flow: row;
}


#signup {
	.fill;
	z-index: 1001;
	transition: opacity 500ms ease;
	opacity: 1;
	overflow: hidden;
	.shim {
		.fill;
		background: rgba(22,33,44,0.8);
		pointer-events: none;
		z-index: -1;
	}

    h2 {
      background: #eee;
      padding: 10px 20px;
      margin: -25px -24px 1.5rem;
      width: auto;

      @media (min-width: 600px) {
        margin: -32px -48px 1.5rem;
        padding: 15px 48px;
      }

      span {
        font-size: 1.625rem;
        font-weight: 300;
        padding: 0.25em 0;
        display: block;
      }
    }

	.thanks {
		.fill;
		background: white;
		z-index: 1;
		border-radius: 0.25em;
		aside {
			text-align: center;
			.centered;
			width: 100%;
			h1 {
				color: @brand-mid;
			}
		}
		h2 {
			padding: 2em 0;
		}
		&.disabled {
			display: none;
		}
	}
	.content {
		.centered;
		background: #fff;
		box-shadow: 0 1em 2em rgba(0,0,0,0.4);
		width: 95%;
		max-height: 95%;
		//overflow: scroll;
		max-width: 40rem;
		overflow: hidden;
		padding: 1.5em;
		.widget {
            background: none;
            height: 2rem;
            width: 2rem;
            z-index: 3;
            right: 20px;
            top: 1rem;
            position: absolute;
            border-radius: 0;

            &:before, &:after {
              background: #9b9b9b;
              content: "";
              display: block;
              width: 1px;
              height: 100%;
              position: absolute;
              top: 0;
              left: 50%;
              transition: all 200ms ease;
            }

            &:before {
              transform: translate3d(-50%,0,0) rotate(45deg);
            }

            &:after {
              transform: translate3d(-50%,0,0) rotate(-45deg);
            }

            @media (min-width: 600px) {
              top: 1.25rem;
              right: 2rem;
            }

            &:hover, &:focus {
              &:before, &:after {
                background: @brand-base;
              }
            }
		}
		h1 {
			line-height: 1;
		}
        @media (min-width: 600px) {
            padding: 2em 3em;
        }

        .flex-half {
            margin-bottom: 2em;
        }

        form {
          max-height: 75vh;
          overflow: auto;
          -webkit-overflow-scrolling: touch;

        }
	}
	&.disabled {
		//height: 0;
		opacity: 0;
		padding: 0;
		z-index: -999;
	}
}

///////////////////
// FORM

#get-dv-form {
	fieldset {
		margin: 1.5em 0;
		legend {
			font-weight: 300;
			font-size: 1.125em;
            display: block;
            margin-bottom: 0.5em;
		}

      &.current-tools {
        margin: 0;
      }
	}
	li {
		margin: 0.5em 0;
		label {
			position: relative;
			top: -3px;
		}
	}

	&.disabled {
		display: none;
	}

    .submit {
      text-align: right;
    }

    .other-field {
      display: block;
      margin-top: 0.25rem;
    }
}

form {
	margin: 0 auto;
	ul {
		li {
			line-height: 1.5;
		}
	}
}

label {
  color: @brand-mid;
  display: block;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 0 0 0.25em;
  padding: 0;
}

input[type=text],
input[type=email] {
  appearance: none;
  border: 1px solid @brand-mid;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 0.875rem;
  margin: 0;
  padding: 0.5em;
  transition: all 200ms ease;
  width: 100%;

  &:focus {
    border: 1px solid @brand-mid;
    box-shadow: 0 -2px 0 0 @brand-mid inset;
    outline: none;
  }
}

input[type="checkbox"] {
  display: block;
  position: absolute;
  z-index: -9999em;
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  appearance: none;

  &:hover, &:focus {
    border: 0;
    outline: none;
  }

  & + label {
    color: #000;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0;
    min-height: 20px;
    padding-left: 30px;
    display: block;
    position: relative;
    user-select: none;

    &:before {
      background: @brand-mid;
      color: #fff;
      content: "";
      height: 20px;
      left: 0;
      position: absolute;
      transition: background 300ms ease;
      top: 0;
      width: 20px;
    }
  }

  &:checked {
    border: 0;

    & + label {
      &:after {
        content: "";
        background: url("/img/tether-select-check.png") no-repeat right center / auto 100%;
        height: 10px;
        left: 4px;
        position: absolute;
        top: 5px;
        width: 12px;
      }
    }

    &:hover + label, &:focus + label {
      &:before {
        background-color: @brand-base;
      }
    }
  }
}

.selector {
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	select {
		appearance: none;
		background-image: none;
		background-color: transparent;
		border: none;
		border: 2px solid @brand-mid;
		border-radius: 0;
		box-shadow: none;
		box-sizing: border-box;
		color: #333;
		cursor: pointer;
		font-size: 0.75em;
		line-height: 1.8;
		position: relative;
		padding: 0.5em;
		width: 100%;
		&:focus {
			outline: none;
			border-bottom: 2px solid @brand-mid;
		}
	}
}

///////////////////
// EXTRAS

::selection {
	background-color: @brand-mid;
	color: white;
}

/*

SOME OLD THINGS THAT MAY BE USEFUL LATER

//display: flex;
//text-align: left;
//justify-content: center;
//flex-flow: column;

@body-font: 'Roboto', sans-serif;
@body-scale: 15px;

@body-bg: #fff;
@body-color: #333;

@gray-darker: #222;
@gray-dark: #444;
@gray: #666;
@gray-light: #bbb;
@gray-lighter: #eee;
@gray-lightest: #f1f1f1;

@brand-primary: #0738bb;
@brand-success: #4CAF50;
@brand-info: #9C27B0;
@brand-warning: #ff9800;
@brand-danger: #FD0303;

@color-disabled: #bdbdbd;
@color-available: #686868;
@color-selected: darken(@color-active, 15%);
@color-active: @brand-primary;
@color-active-translucent: rgba(33,150,243,0.3);

@shadow-card: 0px 2px 2px 1px rgba(0, 0, 0, 0.15);//for cards and grid items

@rounding: 0.25em;

*/
