#licenses {
	box-sizing: border-box;
	padding: 20px 20px 0;

	.license-container {
		table {
			border-collapse: collapse;
			table-layout: fixed;
			width: 100%;
		}

		td {
			white-space: normal;
			word-wrap: break-word;
		}
	}

	h2 {
		display: block;
		margin-bottom: 0.5rem;
		margin-top: 2rem;
	}
}