@keyframes dataloop {
	0% {
		transform: translate3d(-50%, 0, 0);
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeAround {
	0% {
		opacity: 0;
		transform: translateZ(0);
	}

	100% {
		opacity: 1;
		transform: translateZ(1);
	}
}

@keyframes growDown6x {
	0% {
		height: 0;
	}
	100% {
		height: 600%;
	}
}

@keyframes growDown4x {
	0% {
		height: 0;
	}
	100% {
		height: 400%;
	}
}

@keyframes growRight5 {
	0% {
		width: 0;
	}
	100% {
		width: 5%;
	}
}

@keyframes growRight8 {
	0% {
		width: 0;
	}
	100% {
		width: 8.5%;
	}
}