.flex {
	display: flex;
}

.flex-row {
	flex-flow: row;

	&--wrap {
		flex-flow: row wrap;
	}

	&--nowrap {
		flex-flow: row nowrap;
	}

	&--divided {
		.flex-item {
			@media (min-width: 600px) {
				flex: 0 0 auto;

				&:first-child {
					border-right: 1px solid $light-grey;
					margin-right: 20px;
					padding-right: 20px;
					width: 50%;
				}

				&:last-child {
					width: calc(50% - 20px);
				}
			}
		}
	}
}

.flex-column {
	flex-flow: column;
}

.flex-justify-content {
	&--start {
		justify-content: flex-start;
	}

	&--end {
		justify-content: flex-end;
	}

	&--between {
		justify-content: space-between;
	}

	&--center {
		justify-content: center;
	}
}

.flex-align-items {
	&--start {
		align-items: flex-start;
	}

	&--end {
		align-items: flex-end;
	}

	&--center {
		align-items: center;
	}
}

.flex-item {
	box-sizing: border-box;

	&--grow {
		flex: 1 1 auto;
	}

	&--noshrink {
		flex: 1 0 auto;
	}

	&--nogrow {
		flex: 0 1 auto;
	}

	&--nosize {
		flex: 0 0 auto;
	}

	&--dividertext {
		margin: 0 1em 0.625em 0.375em;
	}
	$sizeList: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

	@each $size in $sizeList {
		width: 100%;

		@media (min-width: 600px) {
			&--#{$size} {
				width: $size * 1%;
			}

			&--#{$size}-spaced {
				width: calc((#{$size} * 1%) - 10px);
			}
		}
	}
}
