footer {
	color: $brand-base;
	font-size: 0.75rem;
	padding: 15px 30px;
	text-align: center;
	-webkit-font-smoothing: antialiased;

	@media (min-width: $start-md) {
		padding: 30px;
	}

	p {
		margin: 0;
	}
}

.page-home footer {
	background: $black;
	color: $white;
}