section#header
	.lines(aria-hidden="true"): span
	.graphs(aria-hidden="true")
		.graph-1
			.bar
			.bar
			.bar
			.bar
		.graph-2
			.bar
			.bar
			.bar
			.bar
			.bar

	aside
		img(src="/img/logo_header.png" alt="Datavore Logo")
		div
			h1.title Data Your Way
			h2.subtitle Better Analytics for Financial&nbsp;Services

section#what
	h2 What We Do
	aside
		.card
			span.icon-functions
			.front
				h3 Capture Your Domain&nbsp;Expertise
				.widget ...
			.back
				span.icon-functions
				p
					| Our platform classifies and stores data in the way you think about it, capturing context and relationships instead of just rows and columns.
		.card
			span.icon-directions
			.front
				h3 Automate Your Workflows
				.widget ...
			.back
				span.icon-directions
				p
					| Capture and repeat multi-step data cleaning and analytical processes across diverse data sources to automate your workflows.
		.card
			span.icon-map
			.front
				h3 Instantly Visualize Relationships
				.widget ...
			.back
				span.icon-map
				p
					| Simply select multiple variables from any number of data sources to instantly illustrate graphical relationships and trends.
		.card
			span.icon-query_builder
			.front
				h3 Easy Time Series Analysis
				.widget ...
			.back
				span.icon-query_builder
				p
					| Quickly find leading or lagging indicators and key relationships by comparing multi-frequency data sets.

section#get1.parallax-lines
	.bg(aria-hidden="true" style="background-image:url('/img/infinite_line_1.svg');")
	.bg(aria-hidden="true" style="background-image:url('/img/infinite_line_2.svg');")
	.bg(aria-hidden="true" style="background-image:url('/img/infinite_line_3.svg');")

section#how
	h2 How We Do It
	aside
		h3 Hassle-Free Roll Out
		p Browser-based solution does not require installation, maintenance or updates.
	aside
		h3 Compliant and Secure
		p
			| Compliance and IT department friendly, all data is stored locally behind existing security measures with no external servers.
	aside
		h3 Business User Friendly
		p
			| No coding is necessary as calculations use familiar formula syntax and queries are built visually.

section#get2
	.button-cta.toggle_signup Sign up to get early access to our beta&nbsp;platform.

#signup.disabled
	.content
		.widget.toggle_signup
		h2: span Get Early Access
		include ./form.jade
		.thanks.disabled
			aside
				h1
					span.icon-logo  
				h3 Thank you for signing up. You have been added to our beta wait list.
				// Omar is pleased.
	.shim

// Scripts for everything else
script(type="application/javascript", async="", defer="").
	'use strict';
	function init()
	{
		var i;
		var email = document.getElementById('entry_1487913489');
		
		// Toggle signup buttons
		var toggleSignupNodes = document.querySelectorAll('.toggle_signup');
		for (i = 0; i < toggleSignupNodes.length; i++)
		{
			toggleSignupNodes[i].addEventListener('click', toggleSignup);
		}

		// Other checkboxes
		var otherCheckboxes = document.querySelectorAll('[value=__other_option__]');
		for (i = 0; i < otherCheckboxes.length; i++)
		{
			var input = document.querySelector('[name="' + otherCheckboxes[i].name + '.other_option_response"]');
			input.addEventListener('input', function()
			{
				var entryName = this.name.split('.').slice(0, 2).join('.');
				var checkbox = document.querySelector('[name="' + entryName + '"][value=__other_option__]')
				checkbox.checked = !!this.value;
			});
		}

		var parts = window.location.href.split('?');
		if (parts.length > 1) {
			var prams = parts[1].split('&').map(function(x) {
				return x.split('=');
			});

			prams.forEach(function(pair) {
				if (pair[0] === 'email') {
					toggleSignup();
					email.value = pair[1];
				}
			});
		}
	}

	function showThanks()
	{
		var form = document.getElementById('get-dv-form');
		var thanks = document.querySelector('#signup .thanks');
		if (thanks)
		{
			thanks.classList.remove('disabled');
			form.classList.add('disabled');
		}
	}

	function toggleSignup()
	{
		var signup = document.getElementById('signup');
		var thanks = document.querySelector('#signup .thanks');
		var form = document.getElementById('get-dv-form');
		var isDisabled = signup.classList.contains('disabled');
		if (isDisabled)
		{
			signup.classList.remove('disabled');
			form.classList.remove('disabled');
			thanks.classList.add('disabled');
			document.body.classList.add('paused');
		}
		else
		{
			signup.classList.add('disabled');
			document.body.classList.remove('paused');
			if (form)
			{
				form.reset();
			}
		}
	}

	function ajaxSuccess()
	{
		showThanks();
	}

	function ajaxError()
	{
		// Also thanks on error?
		showThanks();
	}

	function AJAXSubmit(oFormElement)
	{
		if (!oFormElement.action) { return; }

		var oReq = new XMLHttpRequest();
		oReq.onload = ajaxSuccess;
		oReq.onerror = ajaxError;

		oReq.open("post", oFormElement.action);
		oReq.send(new FormData(oFormElement));

		return false;
	}

	init(); // Set up dom callbacks