#cta {
	background: $brand-base;
	color: $white;
	padding: 30px;
	text-align: center;
	-webkit-font-smoothing: antialiased;

	@media (min-width: $start-md) {
		padding: 40px 60px;
	}

	p.cta {
		font-size: 1.875rem;
		font-weight: 300;
		line-height: 1.25;
		margin-bottom: 25px;
	}

	p.copy {
		font-size: 1.25rem;
		font-weight: 300;
		margin-bottom: 1.5rem;
	}

	.container {
		max-width: 800px;
	}

	a {
		background: darken($brand-mid, 5%);
		font-size: 1.4rem;
		font-weight: 300;
		line-height: 1.5;

		&:hover, &:focus {
			background: $brand-mid;
		}
	}
}