#solutions {
	background: $control-bg-grey;

	.container {
		box-sizing: border-box;
		padding: 40px 30px;

		@media (min-width: $start-md) {
			padding: 60px;
		}

		@media (min-width: $start-lg) {
			padding: 40px 60px 20px;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		@media (min-width: $start-lg) {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}
	}

	li {
		display: flex;
		flex-flow: column;
		justify-content: center;
		padding-left: 55px;
		position: relative;

		&:not(:last-child) {
			margin-bottom: 2.5rem;
		}

		@media (min-width: $start-md) {
			min-height: 83px;
			padding-left: 100px;

			&:not(:last-child) {
				margin-bottom: 3rem;
			}
		}

		@media (min-width: $start-lg) {
			box-sizing: border-box;
			display: block;
			padding: 100px 0 0;
			text-align: center;
			width: calc(50% - 40px);

			&:not(:last-child) {
				margin-bottom: 3.5rem;
			}
		}
	}

	h2 {
		color: $brand-base;
		font-size: 1.875rem;
		line-height: 1.125;
		margin: 0 0 0.375em;
		padding-bottom: 0.25em;

		@media (min-width: $start-lg) {
			display: block;
			text-align: center;
		}
	}

	.solutions-icon {
		//background: $brand-base;
		box-sizing: border-box;
		left: 0;
		position: absolute;
		width: 38px;
		top: 0;

		@media (min-width: $start-md) and (max-width: $start-lg - 1) {
			stroke-width: 0.5;
			transform: translate3d(0, -5%, 0);
			width: 75px;

			&--eye, &--code {
				svg {
					transform: translate3d(0, -8%, 0);
				}
			}
		}

		@media (min-width: $start-lg) {
			left: 50%;
			transform: translate3d(-50%, 0, 0);
			width: 93px;
		}

		&--eye {
			svg {
				transform: translate3d(0, -0.125rem, 0)
			}
		}

		&--clock {
			svg {
				width: 90%;
			}
		}

		&--lock {
			svg {
				margin-top: -10%;
			}
		}
	}

	svg {
		color: $brand-base;
		display: block;
		stroke-width: 1;
		margin: 0 auto;
		width: 100%;

		@media (min-width: $start-md) {
			stroke-width: 0.75;
		}

		@media (min-width: $start-lg) {
			stroke-width: 0.5;
		}
	}

	p {
		font-size: 0.925rem;
		line-height: 1.375;
		margin: 0;
		-webkit-font-smoothing: antialiased;
	}
}