@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?l43i2e');
    src:    url('fonts/icomoon.eot?l43i2e#iefix') format('embedded-opentype'),
        url('fonts/icomoon.woff2?l43i2e') format('woff2'),
        url('fonts/icomoon.ttf?l43i2e') format('truetype'),
        url('fonts/icomoon.woff?l43i2e') format('woff'),
        url('fonts/icomoon.svg?l43i2e#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
    content: "\e908";
}
.icon-twitter:before {
    content: "\e909";
}
.icon-spellcheck:before {
    content: "\e906";
}
.icon-filter_list:before {
    content: "\e900";
}
.icon-devpost:before {
    content: "\e907";
}
.icon-omar:before {
    content: "\e600";
}
.icon-logo:before {
    content: "\e607";
}
.icon-logo-full:before {
    content: "\e605";
}
.icon-edit:before {
    content: "\e15e";
}
.icon-help:before {
    content: "\e29b";
}
.icon-delete:before {
    content: "\e287";
}
.icon-settings:before {
    content: "\e2cb";
}
.icon-exit_to_app:before {
    content: "\e28d";
}
.icon-cloud:before {
    content: "\e0f8";
}
.icon-database:before {
    content: "\e901";
}
.icon-sms_failed:before {
    content: "\e22a";
}
.icon-border_all:before {
    content: "\e0c2";
}
.icon-content_copy:before {
    content: "\e071";
}
.icon-insert_link:before {
    content: "\e0ea";
}
.icon-link_off:before {
    content: "\e604";
}
.icon-calendar-alternative:before {
    content: "\e602";
}
.icon-warning:before {
    content: "\e002";
}
.icon-queue:before {
    content: "\e01f";
}
.icon-call_split:before {
    content: "\e045";
}
.icon-add:before {
    content: "\e069";
}
.icon-backspace:before {
    content: "\e06e";
}
.icon-block:before {
    content: "\e06f";
}
.icon-link:before {
    content: "\e07b";
}
.icon-remove:before {
    content: "\e07f";
}
.icon-font_download:before {
    content: "\e08b";
}
.icon-functions:before {
    content: "\e0e4";
}
.icon-file_download:before {
    content: "\e0ff";
}
.icon-file_upload:before {
    content: "\e100";
}
.icon-keyboard_arrow_down:before {
    content: "\e10f";
}
.icon-keyboard_arrow_up:before {
    content: "\e112";
}
.icon-keyboard_tab:before {
    content: "\e117";
}
.icon-looks_one:before {
    content: "\e192";
}
.icon-directions:before {
    content: "\e1c8";
}
.icon-layers:before {
    content: "\e1d3";
}
.icon-map:before {
    content: "\e1f3";
}
.icon-close:before {
    content: "\e209";
}
.icon-menu:before {
    content: "\e20e";
}
.icon-keyboard_control:before {
    content: "\e20f";
}
.icon-more_vert:before {
    content: "\e210";
}
.icon-unfold_more:before {
    content: "\e213";
}
.icon-check_box:before {
    content: "\e25c";
}
.icon-check_box_outline_blank:before {
    content: "\e25d";
}
.icon-assessment:before {
    content: "\e271";
}
.icon-done:before {
    content: "\e28a";
}
.icon-done_all:before {
    content: "\e28b";
}
.icon-query_builder:before {
    content: "\e2c2";
}
.icon-search:before {
    content: "\e2ca";
}
.icon-visibility:before {
    content: "\e306";
}
.icon-indeterminate_check_box:before {
    content: "\e319";
}
.icon-tardis:before {
    content: "\e603";
}
.icon-number_check:before {
    content: "\e902";
}
.icon-number_1:before {
    content: "\e905";
}
.icon-number_2:before {
    content: "\e904";
}
.icon-number_3:before {
    content: "\e903";
}

