section#who
	h2 About Us
	aside
	p
		b Datavore
		sup &reg;
		| &nbsp;is a data analytics software company founded in 2014. Our team has a successful track record of building technology in the financial services sector. We have experience working at companies such as Goldman Sachs, Thomson Reuters, Ernst & Young, and KPMG.
	aside
		ul
			li
				b Email: 
				a(href='mailto:info@datavorelabs.com') info@datavorelabs.com
			li
				b Phone: 
				a(tel='12125248356') 212 524 8356
			li
				b Address: 
				a(href="https://www.google.com/maps/place/Rise+New+York/@40.7426139,-73.9910847,15z/data=!4m2!3m1!1s0x0:0xdf27fb2d21d8eac" target='_blank') 43 West 23rd Street, 6th Floor, New York, NY 10010
			li
				b Work with us: 
				a(href='/jobs') Jobs

			li
				br
				br
				ul.flex-row
					li
						b: a(href='https://www.linkedin.com/company/datavorelabs' title='LinkedIn' target='_blank')
							span.icon-linkedin 
							| LinkedIn
					li
						b: a(href='https://twitter.com/datavorelabs' title='Twitter' target='_blank')
							span.icon-twitter 
							| Twitter
