menu
	ul
		li: .logo: a(href="/" title="Datavore"): span.icon-logo
		li: a(href="#what") What We Do
		li: a(href="#how") How We Do It
		li: a(href="#who") About Us
		li: a(href="/jobs") Jobs
		li: a(href="#").toggle_signup Get Datavore
		// login button disabled until soon
		// li: a(href="http://login.datavorelabs.com").button Log In