@import 'styles/variables',
	'styles/mixins',
	'styles/base',
	'styles/buttons',
	'styles/form',
	'styles/flex',
	'styles/animation',
	'styles/table',
	'styles/layout',
	'styles/footer',

	'styles/home/header',
	'styles/home/intro',
	'styles/home/solutions',
	'styles/home/cta',
	'styles/home/about',

	'styles/pages/licenses';